---
accounts:
  - name: '<account_name_1>'
    # budget_id and account_id can be found in the URL, e.g., https://app.youneedabudget.com/<budget_id>/accounts/<account_id>
    ynab_budget_id: '<budget_id_1>'
    ynab_account_id: '<account_id_1>'
    bank: 'n26'
    settings:
      username: '<username_1>'
      password: '<password_1>'
  - name: '<account_name_2>'
    ynab_budget_id: '<budget_id_1>'
    ynab_account_id: '<account_id_2>'
    bank: 'n26'
    settings:
      username: '<username_2>'
      password: '<password_2>'
ynab:
  # get API token here: https://app.youneedabudget.com/settings/developer
  api_token: '<token>'
pushed:
  # https://pushed.co/
  api_key: '<pushed_api_key>'
  api_secret: '<pushed_api_secret>'
...